<div id="footer" class="panel">
  <div class="panel-footer">
<div class="container-fluid">
<div class="row">
<div class="col-sm-4">
<p>{{ site.title }}</p>
<img class="img-fluid" src="{{ site.baseurl }}/images/logo/lab-logo.png"
    alt="MEDIC Lab Logo" style="max-width: 240px; display: block;">
</div>

<div class="col-sm-4">
<p>Links</p>
<ul class="list-unstyled">
<li><a href="https://github.com/Damseh">GitHub</a></li>
<li><a href="https://scholar.google.com/citations?user=vmQUi8AAAAAJ&hl">Google Scholar</a></li>
<li><a href="https://www.uaeu.ac.ae/">UAE University</a></li>
</ul>
</div>

<div class="col-sm-4">
<p>Contact</p>
<p>E1 Building, Room 3070<br>
Dept. of Computer Science and Software Engineering<br>
P.O. Box 15551, Al Ain, UAE<br>
Email: rdamseh@uaeu.ac.ae</p>
</div>
</div>

<div class="row mt-3">
<p class="text-center">&copy; 2021&ndash;2026 Medical Image Computing Lab (MEDIC), UAE University.</p>
</div>
</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
