<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>

    {% comment %}
      Logos are shown only when the file actually exists, so a missing one
      degrades to text rather than a broken image.
    {% endcomment %}
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
      {% assign college_path = '/images/logo/college-logo.png' %}
      {% assign college_logo = site.static_files | where: 'path', college_path | first %}
      {% if college_logo %}
      <img class="brand-logo" src="{{ site.url }}{{ site.baseurl }}{{ college_path }}"
           alt="{{ site.lab.department }}"/>
      {% endif %}
      {% assign lab_path = '/images/logo/lab-logo.png' %}
      {% assign lab_logo = site.static_files | where: 'path', lab_path | first %}
      {% if lab_logo %}
      <img class="brand-logo" src="{{ site.url }}{{ site.baseurl }}{{ lab_path }}"
           alt="{{ site.lab.name }} logo"/>
      {% endif %}
      <span class="brand-text">{{ site.title }}</span>
    </a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/news">News</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/collaborations">Collaborations</a></li>
	  </ul>
	</div>
  </div>
</div>
